    body {
        padding: 100px;
        background-color: #caf0f8;
        border: 8px solid #023e8a;
    }

    h1 {
        color: #023e8a;
    }

    h1 {
        font-family: 'Playfair Display', serif;
    }

    h2 {
        color: #023e8a
    }

    h2 {
        font-family: 'Playfair Display', serif;
    }

    h2 {
        color: #023e8a
    }

    p {
        font-family: 'Playfair Display', serif;
    }

    li {
        font-family: 'Playfair Display', serif;
    }